$primary: #000000;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.body {
  background-image: url('./Background-1.png');
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.comments-page {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -200px;
}

.create {
  color: #FFFFFF;
  text-align: center;
  margin-top: 60px;
}

.comment-page {
  color: #FFFFFF;
  text-align: center;
  margin-top: 60px;
}

.comment-update {
  color: #FFFFFF;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 40px;
}

a {
  color: #FFFFFF;
}

li {
margin-right: 30px;
position: relative;
top: -25px;
}

.title {
  font-family: 'Norican', cursive;
  font-size: 25px;
  color: #FFFFFF;
}

img {
  margin-left: 40px;
}

input {
  font-style: normal;
  margin-top: -2px;
  width: 200px;
}

h2 {
  font-family: 'Zilla Slab Highlight', cursive;
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.labels {
  font-family: 'Patua One', cursive;
  color: #000000;
}
